.button-container {
    display: flex;
    justify-content: center;
}
.button-box {
    background: #fff;
    border: 1px solid rgba(106, 115, 125, 0.4);
    color: rgba(106, 115, 125, 0.8);
    height: 50px;
    padding: 0px 20px;
    border-radius: 4px;
    cursor: pointer;
    outline-color: rgba(106, 115, 125, 0.2);
}
.button-box:hover {
    background: rgba(106, 115, 125, 0.2);
}
